<footer class="text-center footer-style">

  <div class="container">

      <div class="row">
          <div class="col-md-4 footer-col">

              <h3>Dirección</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.5179758761087!2d-58.18338518504585!3d-34.79290817503935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3262e9c85f017%3A0x8d2d24d927785b67!2sC.%2046%204763%2C%20Platanos%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1666304253902!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
          <div class="col-md-4 footer-col">
              <h3>Mis redes</h3>
              <ul class="list-inline">
                  <li>
                      <a  href="  https://m.facebook.com/profile.php?id=100058459647341" target="_blank"><img src="../../../../assets/Facebook.png" id="facebook"></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/diego.a.r.86/"
                    target="_blank" ><img src="../../../../assets/Instagram.png" id="instagram"></a>



                  </li>
                  <li>
                      <a href="https://www.linkedin.com/in/diego-roldan-7105bb203/"
                      target="_blank"><img src="../../../../assets/linkedin.png" id="linkeding"></a>
                  </li>
                  <li>
                        <a href=" https://github.com/diego-ariel-roldan/"target="_blank" ><img src="../../../../assets/Git-hud.png" id="github"></a>
                  </li>

              </ul>
          </div>
          <div class="col-md-4 footer-col">
              <h3>Proyecto integrador Argentina Programa</h3>
              <p>Creador de paginas web!  <a href="https://softdelete.ar">Softdelete.ar</a></p>
          </div>
      </div>
  </div>

</footer>
