<div class="row">
  <div class="contenedor">
    <div class="logos">
      <img
        src="../../../../assets/logoarg.png"
        alt="logo de argentina programa"
        id="logo"
      />
    </div>

    <div class="redes">
      <a href="https://m.facebook.com/profile.php?id=100058459647341"target="_blank"><img src="../../../../assets/Facebook.png" id="facebook" /></a>
      <a href="https://www.instagram.com/diego.a.r.86/"
      target="_blank" ><img src="../../../../assets/Instagram.png" id="instagram"
      /></a>
      <a href="https://www.linkedin.com/in/diego-roldan-7105bb203/"
      target="_blank"><img src="../../../../assets/linkedin.png" id="linkeding"
      /></a>
      <a class="git"href="https://github.com/diego-ariel-roldan/"target="_blank"><img src="../../../../assets/Git-hud.png" id="github" /></a>


</div>
<div class="botonIn"><button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIO SESIÓN</button>
  <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
</div>














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































