.row{

  padding: 25px;
  background-color:rgb(248, 247, 253)
}

.contenido{
  width:auto;}
 .posicion2{
margin-top:10px;
}


.posicion1, .posicion2 {

  display: inline-block;
  text-align:justify
}



 img{width:200px;
  height:400px;}
  @media(max-width:700px){


    .posicion2 {
    margin-left:25%;
    }
     }
h3{
  color:blue;
}