<div class="row">
<h2>Proyectos terminados (los titulos son enlaces)</h2>
<div class="contenido">
  <div class="col-sm-12 col-md-7 col-lg-7 posicion1">
    <h3><a href="https://autosport.ar/" target="_blank">Demo One page con sistema de reserva para centro Odontólogico</a></h3>
    <h5>
      La página es una One Page hecha WordPress contiene logo de WhatsApp con redirección al chat , logo de Teléfono con redirección a llamada es totalmente responsive, logo de redes Sociales con enlaces, y contiene un sistema de reserva de turnos, está optimizada en el seo.
    </h5>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
  <div class="padre">
<img src="../../assets/web2.jpeg" class="omg-fluig imgen1"></div>

</div>

<div class="col-sm-12 col-md-7 col-lg-7 posicion1">
  <h3> <a href="https://odontologia.softdelete.com.ar/"target="_blank" > Pagina web para ventas de paginas y marketing Digital </a></h3>
  <h5>
    La pagina es una One Page hecha WordPress contiene logo de WhatsAap con redirección al chat ,
    logo de Telefóno con redirección a llamada es totatalmete responsive cin un menú hamburguesa , logo de redes Sociales con enlaces,
    y contiene un sistema de reserva de turnos, , esta optimizada en el seo .
  </h5>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
<div class="padre">
<img src="../../assets/web1.jpeg" class="omg-fluig imgen2"></div>

</div>
<div class="col-sm-12 col-md-7 col-lg-7 posicion1">
  <h3> <a href="https://autosport.ar/" target="_blank" > Pagina web para taller Mecánico </a></h3>
  <h5>
   La página es una One Page hecha WordPress contiene logo de WhatsApp con redirección al chat un menú hamburguesa , logo de Teléfono con redirección a llamada es totalmente responsive, logo de redes Sociales con enlaces, y contiene un sistema de reserva de turnos, está optimizada en el seo.
  </h5>

</div>
<div class="col-sm-12 cul-md-3 col-lg-3 offset-md-1 offset-lg-1 posicion2">
<div class="padre">
<img src="../../assets/web3.jpeg" class="omg-fluig imgen1"></div>

</div>

</div>
  </div>
