<div class="row ">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

  </div>
  <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../assets/perfil.jpeg" class="img-fluid" id="perfil" />
      <p class="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Programador Full Stack</p>
    </div>

  <div class="col-xs-12 col-sm-8 col-mg-8 col-lg-8 ">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        Soy muy entusiasta me gusta la programación siempre estoy aprehendiendo
        nuevas tecnologías las asimilo de forma rapida,me destaco en mi perseverancia en mi aptitud positiva  </p>
    </span>
  </div>
